<div class="appTitle">
  <h1>Quotes App</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
    {{#unless quotes}}
    <div id='onload-msg'>
      <h2>Uh-Oh Looks like we don't have any new quotes.</h2>
    </div>
    {{/unless}}
    <!-- Pass in data from server.js -->
    <ul class="list">
      {{#each quotes}}
      <li class="quotesList">
        <p><span class="label">Quote:</span> {{quote}}</p>
        <p><span class="label">Author:</span> {{author}}</p>
        <button data-id="{{quote}}" class="saveQuote" id="saveMyQuote">Save Article</button>
        {{!-- <button type="submit" data-mongoId="{{this._id}}" class="delete-comment-btn btn btn-danger btn-sml">Delete Comment</button> --}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
